@import "tailwindcss";

/*Set custom variables*/
:root {
  /*==== PALETTE ====*/
  --background: #ffffff;
  --foreground: #171717;
  --coyote: #7d5833ff; /* Background color of genre */
  --black-bean: #3b0d09; /* Border color of genre and large Login button*/
  --baby-powder: #fefef6ff; /* Background color for body and cards */
  --licorice: #0c0000ff; /* Text color for body, and border of book title */
  --white: #ffffff; /* Text color for colored buttons */
  --alabaster: #e5e3dbff; /* Border color for Cards and unselected buttons */
  --cafe-noir: #442811; /* Background color of book headline */
  --peach-yellow: #f7e0aeff; /* Border color of Call to Login */
  --cosmic-latte: #fdf6e0ff; /* Background color of Call to Login */
  --kobicha: #5d3516ff; /* Border color of "Login" link button, inside of Call to Login */
  --russet: #814423ff; /* Background color of "Login" link button inside of Call to Login */
  --seal-brown: #5a3215; /* Background color of large Login button */
  --hunyadi-yellow: #e1aa48; /* Background color of rating stars */
  --butterscotch: #d89235; /* Border color of rating stars */
  --copper: #ba7534; /* Background color for "Apply" sorting and "Browse Books" buttons */
  --golden-brown: #99682f;
  --platinum: #d9d9d9;

  /*===== FONTS =====*/
  --font-size-h1: 3rem; /* 48px */
  --font-size-h2: 2.25rem; /* 36px */
  --font-size-h3: 1.75rem; /* 28px */
  --font-size-h4: 1.5rem; /* 24px */
  --font-size-body: 1rem; /* 16px */
  --font-size-small: 0.875rem; /* 14px */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

/*For darkmode only*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-baby-powder);
    --foreground: var(--licorice);
  }
}

/*Map raw CSS variables into Tailwind “design tokens”.*/
@theme inline {
  /*==== PALETTE ====*/
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-coyote: var(--coyote);
  --color-black-bean: var(--black-bean);
  --color-baby-powder: var(--baby-powder);
  --color-licorice: var(--licorice);
  --color-white: var(--white);
  --color-alabaster: var(--alabaster);
  --color-cafe-noir: var(--cafe-noir);
  --color-peach-yellow: var(--peach-yellow);
  --color-cosmic-latte: var(--cosmic-latte);
  --color-kobicha: var(--kobicha);
  --color-russet: var(--russet);
  --color-seal-brown: var(--seal-brown);
  --color-hunyadi-yellow: var(--hunyadi-yellow);
  --color-butterscotch: var(--butterscotch);
  --color-copper: var(--copper);
  --color-golden-brown: var(--golden-brown);
  --color-platinum: var(--platinum);

  /*===== FONTS =====*/
  --font-merriweather-sans: var(--font-merriweather-sans);
  --font-merriweather: var(--font-merriweather); /*Import from layout.tsx*/
}

/*Apply variables to JSX*/
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-merriweather-sans);
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: small;
}

main {
  background-color: var(--color-baby-powder);
  flex: 1;
}

h1,
h3,
h4 {
  font-family: var(--font-merriweather);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: 3.5rem;
}

h2 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-semibold);
  line-height: 2.75rem;
  color: var(--kobicha);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semibold);
  line-height: 2.25rem;
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-semibold);
  line-height: 2rem;
}

input {
  background-color: var(--color-platinum);
}
